/* Variables */

:root{
    --primary-colour: #33b38d;
}

html{
    font-family: Roboto,sans-serif;
    font-size: 1.1em;
    color: rgba(0,0,0,.8);
    line-height: 1.65;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 4em;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    box-shadow: 0 3px 5px rgb(6,6,6,0.2)
}

header a{
    margin-left: 2rem;
    text-decoration: none;
    color: #666;
    font-size: 0.9rem;
    font-weight: bold;
    transition: color .6s ease;
}

header a:hover{
    color: var(--primary-colour);
}

nav{
    margin-left: 5rem;
    
}

.burger_menu{
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.about{
    margin-top: 1.5rem;
    display: flex;
}

.about a{
    color: var(--primary-colour);
    text-decoration: none;
}

.about a:hover{
    text-decoration: underline;
}

.profile_summary{
    flex:1;
}

.centre_text{
    text-align: center;
}

.circular_image{
    border-radius: 50%;
}

.name_title{
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
}

.work{
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(0,0,0,.54);
}

.company{
    font-size: 1.5em;
    font-weight: 300;
}

.email_icon{
    width: 2.5rem;
    height: 2.5rem;
}

.description{
    flex:2
}

.about_me_content{
    font-size: 1.3em;
    text-align: justify;
}

.graduation_cap_icon, .laptop_icon{
    font-size: 1.3em;
}

.qualification, .job{
    font-size: 1.1em;
}

.institution{
    margin-left: 39px;
    margin-top: -15px;
    font-size: 17px;
    font-weight: 300;
    color: rgba(0,0,0,.54);
}

#skills{
    display: flex;
    font-size: 1.0em;
}

#skills h2{
    font-size: 1.2em;
}

.programming_skills, .interpersonal_skills, .language_skills{
    flex: 2;
}

.form_holder{
    box-sizing: border-box;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 3rem;
    background-color: #f2f2f2;
}

form{
    margin-top: 2rem;
}

textarea{
    height: 5rem;
}

input[type=text], textarea{
    width: 100%;
    padding: 1rem;
    border:1px solid #ccc;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    resize: vertical;
    border-radius: 10px;
    box-shadow: 0 0 3px #666;
}

input[type=submit]{
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 3px #666;
}

input[type=submit]:hover{
    background-color: lightgreen;
}

label{
    font-size: 1em;
}

.form_holder h2{
    font-size: 1.5em;
    text-align: center;
}

footer{
    text-align: center;
    font-size: 1.5em;
    color: #33b38d;
}


/* Tablets */

@media screen and (max-width: 768px) {
    header a{
        margin-left: 2rem;
        font-size: 1em;
    }

    nav{
        position: fixed;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        left: 2rem;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    .burger_menu{
        display: block;
    }

    nav.show{
        transform: translateX(0);
    }

    .about{
        flex-direction: column;
        margin-top: 5rem;
    }

    .about p{
        text-align: center;
    }

    .circular_image{
        margin-top: 3rem;
        height:10rem;
        width :10rem;
        text-align: center;
    }

    .name_title{
        font-size: 1.7em;
        text-align: center;
        margin-top: 0.5rem;
    }

    .about_me_content{
        padding: 1rem 1rem;
        font-size: 16px;
    }

    #education h2, #experience h2{
        text-align: center;
        font-size: 1.2rem;
    }

    .graduation_cap_icon, .laptop_icon{
        font-size: 1em;
    }

    .qualification, .job{
        font-size: 1em;
    }

    .institution{
        margin-left: 2.5em;
        margin-top: 1.5em;
        font-size: 1em;
    }

    #skills{
        flex-direction: column;
        align-items: center;
    }

    .programming_skills h2, .interpersonal_skills h2, .language_skills h2{
        font-size: 1.4rem;
    }

    .form_holder h2{
        font-size: 1em;
        margin-top: 2rem;
    }
}

/* Smaller Phones  */
@media screen and (max-width: 420px){
    html{
        font-size: 0.9em;
    }
    
    nav{
        font-size: 1em;
    }

    .circular_image{
        margin-top: 3rem;
        height:7rem;
        width :7rem;
        text-align: center;
    }
    
    form{
        margin-top: 0.5rem;
    }
    
    .form_holder{
        box-sizing: border-box;
        padding: 3em;
        background-color: #f2f2f2;
    }

    .form_holder h2{
        font-size: 0.9em;
        margin-top: 0rem;
    }

    textarea{
        height: 2rem;
    }
}




















